/* Chordsify */
@chordBackground: #666;
@chordText: #fff;
@lyricsBackground: #f9f9f9;

@lyricsFont: inherit;
@chordFont: @lyricsFont;
@lyricsFontPrint: "Times New Roman", Times, serif;
@chordFontPrint: "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
	font-family: Arial;
	transition: all 1s;
	@media only screen and (min-width: 5px) {
		font-size: 16px;
	}
}

.chordsify {
	padding-top: 1em;
}

.chordsify-raw {
	white-space: pre;
	white-space: pre-line;
}

.chordsify-block {
	line-height: 2.5em;
}

.chordsify-chord-anchor {
	position: relative;
}

.chordsify-chord {
	display: inline-block;
	font-size: 0.8em;
	line-height: 1em;
	position: absolute;
	top: -1.5em;
	white-space: pre;
}

.chordsify-word {
	display: inline-block;
	white-space: pre;
}

.chordsify-gap {
	display: inline-block;
	height: 0.5ex;
	margin: 0 0.125em;
}

.chordsify-gap-dash {
	border-top: 1px dashed #666;
}

@media print {
	.chordsify-lyrics {
		font-family: @lyricsFontPrint;
	}

	.chordsify-chord {
		font-family: @chordFontPrint;
		font-size: 7.5pt;
		font-weight: bold;
		padding: 0.25em 0.3em;
	}
}

@media only screen {
	.chordsify-lyrics {
		font-family: @lyricsFont;
	}

	.chordsify-chord {
		background: @chordBackground;
		border-radius: 0.35em;
		color: @chordText;
		font-family: @chordFont;
		padding: 0.25em 0.3em;
		
		&[data-chord="0"]  { background: #a33; }
		&[data-chord="1"]  { background: #b93; }
		&[data-chord="2"]  { background: #3a3; }
		&[data-chord="3"]  { background: #38a; }
		&[data-chord="4"]  { background: #43a; }
		&[data-chord="5"]  { background: #a3a; }
		&[data-chord="6"]  { background: #a63; }
		&[data-chord="7"]  { background: #8a3; }
		&[data-chord="8"]  { background: #3a8; }
		&[data-chord="9"]  { background: #35a; }
		&[data-chord="10"] { background: #73a; }
		&[data-chord="11"] { background: #a36; }
	}

}

/* /Chordsify */